{% extends 'base.html' %}
{% block content %}

<!-- 질문 등록 -->
<div class="container my-3" style="max-width: 70%;">
    <div class="scrollable-table-container">

    <h5 class="my-3 border-bottom pb-2">
        <strong>우리의 <font cont color="#CD426B;">
            관심사</font>를 등록해 봅시다</strong></h5>
    <form method="post" class="my-3">
         {{ form.csrf_token }}

        {% if category %}
            <input type="hidden" name="category_id" value="{{ category.id }}">
        {% else %}
            <input type="hidden" name="category_id" value="0">
        {% endif %}

         <!-- 오류표시 Start -->
         {% if form.errors %}
         <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
         </div>
         {% endif %}
         <!-- 오류표시 End -->

         <!-- 수작업으로 폼 작성하기 -->
         <div class="mb-3">
              <label for="subject"><h5>제목</h5></label>
              <input type="text" class="form-control" name="subject" id="subject"
                      style="background-color: #F0FFF0;"
                          value="{{ form.subject.data or '' }}" autofocus>
         </div>
         <div class="mb-3">
              <label for="content"><h5>내용</h5></label>
              <textarea class="form-control"
                        name="content" id="markdown-editor" rows="10">
                        {{ form.content.data or '' }}
              </textarea>
         </div>

        <!-- SimpleMDE 마크다운 에디터 초기화  style="background-color: #E6FFE6;"-->
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script>
            var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
        </script>


        <div class="mb-3">
        <button type="submit" class="btn btn-primary">질문 등록하기</button>
        </div>

    </form>

    </div>
</div>

{% endblock %}
