{% extends "base.html" %}
{% block content %}

<span style="margin-left: 20px;" id="current_datetime"></span>

<div class="container-fluid">
    <div class="scrollable-table-container">

    <h5 class="text-left" style="color: #0000FF;"> &nbsp; 운송 수정 </h5>
    <form method="post" action="{{ url_for('transport.trans_modify', id=transport.id) }}">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        <table style="min-width: 1000px;" class="table table-bordered">
        <thead class="head-dark">
        <tr>
            <td style="width: 10%; text-align: left;"><label for="trans_date">운송 일자:</label></td>
            <td style="width: 25%; text-align: left;"><input type="date" class="form-control" id="trans_date" name="trans_date" value="{{ transport.trans_date }}" required></td>
            <td style="width: 65%;">&nbsp;</td>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="trans_company">회사명:</label></td>
            <td style="width: 25%; text-align: left;"><input type="text" class="form-control" id="trans_company" name="trans_company" value="{{ transport.trans_company }}" required></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="consignor">송하주:</label></td>
            <td style="width: 25%; text-align: left;"><input type="text" class="form-control" id="consignor" name="consignor" value="{{ transport.consignor }}" required></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="load_region">상차지:</label></td>
            <td style="width: 25%; text-align: left;"><input type="text" class="form-control" id="load_region" name="load_region" value="{{ transport.load_region }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="unload_date">하차 일자:</label></td>
            <td style="width: 25%; text-align: left;"><input type="date" class="form-control" id="unload_date" name="unload_date" value="{{ transport.unload_date }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="consignee">수하주:</label></td>
            <td style="width: 25%; text-align: left;"><input type="text" class="form-control" id="consignee" name="consignee" value="{{ transport.consignee }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="unload_region">하차지:</label></td>
            <td style="width: 25%; text-align: left;"><input type="text" class="form-control" id="unload_region" name="unload_region" value="{{ transport.unload_region }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width:10% text-align: left;"><label for="terms">거래 조건:</label></td>
            <td style="width: 25%; text-align: left; background-color: yellow;">
                <select class="form-control" id="terms" name="terms" required>
                    <option value="TP" {% if transport.terms == 'TP' %}selected{% endif %}>거래처선불</option>
                    <option value="TF" {% if transport.terms == 'TF' %}selected{% endif %}>거래처후불</option>
                    <option value="CP" {% if transport.terms == 'CP' %}selected{% endif %}>송하주선불</option>
                    <option value="CF" {% if transport.terms == 'CF' %}selected{% endif %}>송하주후불</option>
                    <option value="DP" {% if transport.terms == 'DP' %}selected{% endif %}>수하주선불</option>
                    <option value="DF" {% if transport.terms == 'DF' %}selected{% endif %}>수하주후불</option>
                </select>
            </td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="trans_amount">운송료:</label></td>
            <td style="width: 25%; text-align: left;"><input type="number" class="form-control" id="trans_amount" name="trans_amount" value="{{ transport.trans_amount }}" required></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="payment">거래 방법:</label></td>
            <td style="width: 25%; text-align: left; background-color: yellow;">
                <select class="form-control" id="payment" name="payment" required>
                    <option value="E" {% if transport.payment == 'E' %}selected{% endif %}>전자세금계산서</option>
                    <option value="P" {% if transport.payment == 'P' %}selected{% endif %}>종이세금계산서</option>
                    <option value="S" {% if transport.payment == 'S' %}selected{% endif %}>간이세금계산서</option>
                    <option value="C" {% if transport.payment == 'C' %}selected{% endif %}>카드발급</option>
                    <option value="R" {% if transport.payment == 'R' %}selected{% endif %}>간이영수증</option>
                    <option value="M" {% if transport.payment == 'M' %}selected{% endif %}>현금영수증</option>
                    <option value="O" {% if transport.payment == 'O' %}selected{% endif %}>기타</option>
                </select>
            </td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="trans_set_date">운송료 입금 일자:</label></td>
            <td style="width: 25%; text-align: left;"><input type="date" class="form-control" id="trans_set_date" name="trans_set_date" value="{{ transport.trans_set_date or '' }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="brokerage_fee">운송 수수료:</label></td>
            <td style="width: 25%; text-align: left;"><input type="number" class="form-control" id="brokerage_fee" name="brokerage_fee" value="{{ transport.brokerage_fee }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="brokerage_date">수수료 지급 일자:</label></td>
            <td style="width: 25%; text-align: left;"><input type="date" class="form-control" id="brokerage_date" name="brokerage_date" value="{{ transport.brokerage_date or '' }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="trans_type">거래 형태:</label></td>
            <td style="width: 25%; text-align: left; background-color: yellow;">
                <select class="form-control" id="trans_type" name="trans_type" required>
                    <option value="N" {% if transport.trans_type == 'N' %}selected{% endif %}>정상거래</option>
                    <option value="V" {% if transport.trans_type == 'V' %}selected{% endif %}>부가가치세용</option>
                </select>
            </td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10% text-align: left;"><label for="comment">비고:</label></td>
            <td style="width: 25%; text-align: left;"><input type="text" class="form-control" id="comment" name="comment" value="{{ transport.comment }}"></td>
            <td style="width: 65%;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">운송 수정</button>
            </td>
        </tr>
        </thead>
        </table>

    </form>

    </div>
</div>

{% endblock %}
