{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <h5 class="text-center">운송 수정</h5>

    <form method="post" action="{{ url_for('transport.trans_modify', id=transport.id) }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.trans_date.label }}
            {{ form.trans_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.trans_company.label }}
            {{ form.trans_company(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.consignor.label }}
            {{ form.consignor(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.load_region.label }}
            {{ form.load_region(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.unload_date.label }}
            {{ form.unload_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.consignee.label }}
            {{ form.consignee(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.unload_region.label }}
            {{ form.unload_region(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.terms.label }}
            {{ form.terms(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.trans_amount.label }}
            {{ form.trans_amount(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.payment.label }}
            {{ form.payment(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.trans_set_date.label }}
            {{ form.trans_set_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.brokerage_fee.label }}
            {{ form.brokerage_fee(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.brokerage_date.label }}
            {{ form.brokerage_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.trans_type.label }}
            {{ form.trans_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.comment.label }}
            {{ form.comment(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">운송 수정</button>
    </form>
</div>
{% endblock %}
