{% extends "base.html" %}
{% block content %}

<span style="margin-left: 20px;" id="current_datetime"></span>

<div class="container-fluid">
    <div class="scrollable-table-container">
        <h5 class="text-center" style="color: #0000FF;">기간별 &nbsp;&nbsp;&nbsp;&nbsp; 미수금 현황</h5>

        {% if transports %}
        <form method="post" action="{{ url_for('transport.trans_update_set') }}">
            {{ form.hidden_tag() }}
            {% include "form_errors.html" %}

        <table class="table table-bordered table-striped small-text">
        <thead class="head-dark">
        <tr bgcolor="#ffddee">
            <th style="width:3%" class="text-center">NO</th>
            <th style="width:8%" class="text-center">운송일자</th>
            <th style="width:12%" class="text-center">회사명</th>
            <th style="width:12%" class="text-center">송하주</th>
            <th style="width:16%" class="text-center">상차지</th>
            <th style="width:12%" class="text-center">수하주</th>
            <th style="width:16%" class="text-center">하차지</th>
            <th style="width:8%" class="text-center">운송료</th>
            <th style="width:12%" class="text-center">입금일자</th>
        </tr>
        </thead>

        <tbody>
            {% set ns = namespace(total_amount=0) %}
            {% for idx, transport in enumerate(transports) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ transport.trans_date }}</td>
            <td>{{ transport.trans_company }}</td>
            <td>{{ transport.consignor }}</td>
            <td>{{ transport.load_region }}</td>
            <td>{{ transport.consignee }}</td>
            <td>{{ transport.unload_region }}</td>
            <td align="right">{{ "{:,.0f}".format(transport.trans_amount or 0) }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            {% set ns.total_amount = ns.total_amount + (transport.trans_amount or 0) %}
            <td>
                <input type="date" class="form-control"
                       name="trans_set_date_{{ transport.id }}"
                            value="{{ transport.trans_set_date|default('') }}">
            </td>
        </tr>
            {% endfor %}

        <tr>
            <td colspan="7" align="center">총 금액</td>
            <td align="right">{{ "{:,.0f}".format(ns.total_amount) }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="1">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    {% else %}
        <p class="text-center">검색 결과가 없습니다.</p>
    {% endif %}


    <div>
        <button type="submit" class="btn btn-primary">입금 일자 저장</button>
    </div>
    </form>

    </div>
</div>

{% endblock %}