{% extends "base.html" %}
{% block content %}

<span style="margin-left: 20px;" id="current_datetime"></span>

<form method="post" action="{{ url_for('transport.trans_company', view_type=view_type) }}">
    {{ form.hidden_tag() }}
    {% include "form_errors.html" %}

<div class="container-fluid">
    <div class="scrollable-table-container">
        <table style="min-width: 1000px;" class="table table-bordered table-striped">
           <thead class="head-dark">
           <tr bgcolor="#ffddee">
               <td colspan="6" class="text-center"><h3>거래처&nbsp;&nbsp;&nbsp;&nbsp;운송 검색</h3></td>
               <td>&nbsp;</td>
           <tr>
               <td style="width:10%" class="text-left"><label for="trans_company"><strong>운송 거래처</strong></label></td>
               <td style="width:15%" class="text-center">{{ form.trans_company(class="form-control", id="transCompanyField") }}
               <td style="width:10%" class="text-center"><label for="start_date"><strong>시작 일자</strong></label></td>
               <td style="width:15%" class="text-center">{{ form.start_date(class="form-control") }}</td>
               <td style="width:10%" class="text-center"><label for="end_date"><strong>마지막 일자</strong></label></td>
               <td style="width:15%" class="text-center">{{ form.end_date(class="form-control") }}</td>
               <td style="width:25%">&nbsp;</td>
           </tr>
        </table>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">{{ form.submit() }}</button>
    </div>
</div>

</form>

<script>
    // 페이지 로드 후 커서를 특정 입력 필드에 자동으로 맞추기
    document.getElementById("transCompanyField").focus();

    document.getElementById('search-form').onsubmit = function() {
        window.open('', 'search-results', 'width=800,height=600');
    }
</script>

{% endblock %}

