{% extends 'base.html' %}
{% block content %}

<span style="margin-left: 20px;" id="current_datetime"></span>

<div class="container-fluid">
    <div class="scrollable-table-container">
        <h5 class="text-center" style="color: #0000FF;">Admin Dashboard
            &nbsp;&nbsp;&nbsp;&nbsp; 회원현황&nbsp;&nbsp;&nbsp;&nbsp;Welcome, {{ user.username }}!</h5>

        <div class="stats-section">
            <h5>Statistics</h5>
            <ul>
                <li>Total Users: {{ total_users }}</li>
                <li>Total Costs: {{ total_costs }}</li>
                <li>New Register Today: {{ new_register_today }}</li>
                <li>Total Revenue: ${{ total_revenue }}</li>
            </ul>
        </div>

        <div class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="{{ url_for('admin.manage_users') }}">Manage Users</a></li>
                <li><a href="{{ url_for('admin.manage_costs') }}">Manage Costs</a></li>

            </ul>
        </div>
    </div>
{% endblock %}
