<div class="container">
    <h5 class="my-3 border-bottom pb-2">회원가입</h5>
    <form method="post">
        <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->

        {{ form.hidden_tag() }}
        {% include "form_errors.html" %}


        <table>
        <tr>
            <td><label for="username">회원 아이디</label></td>
            <td><input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}"></td>

            <td><label for="password1">비밀번호</label></td>
            <td><input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.data or '' }}"></td>

            <td><label for="password2">비밀번호 확인</label></td>
            <td><input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.data or '' }}"></td>
         </tr>

        <tr>
             <td><label for="truck_name">트럭 명칭</label></td>
             <td><input type="text" class="form-control" name="truck_name" id="truck_name"
                   value="{{ form.truck_name.data or '' }}"></td>

             <td><label for="truck_no">트럭 번호</label></td>
             <td><input type="text" class="form-control" name="truck_no" id="truck_no"
                   value="{{ form.truck_no.data or '' }}"></td>

             <td><label for="truck_class">트럭 종류</label></td>
             <td><input type="text" class="form-control" name="truck_class" id="truck_class"
                   value="{{ form.truck_class.data or '' }}"></td>

             <td><label for="truck_ton">트럭 톤수</label></td>
             <td><input type="text" class="form-control" name="truck_ton" id="truck_ton"
                   value="{{ form.truck_ton.data or '' }}"></td>
         </tr>

          <tr>
              <td><label for="business_no">사업자 등록번호</label></td>
              <td><input type="text" class="form-control" name="business_no" id="business_no"
                   value="{{ form.business_no.data or '' }}"></td>

              <td><label for="company">상호</label></td>
              <td><input type="text" class="form-control" name="company" id="company"
                   value="{{ form.company.data or '' }}"></td>

              <td><label for="member_name">성명</label></td>
              <td><input type="text" class="form-control" name="member_name" id="member_name"
                   value="{{ form.member_name.data or '' }}"></td>

              <td><label for="zip">우편번호</label></td>
              <td><input type="text" class="form-control" name="zip" id="zip"
                   value="{{ form.zip.data or '' }}"></td>

              <td><label for="address">사업장주소</label></td>
              <td><input type="text" class="form-control" name="address" id="address"
                   value="{{ form.address.data or '' }}"></td>
         </tr>

          <tr>
              <td><label for="business_status">업태</label></td>
              <td><input type="text" class="form-control" name="business_status" id="business_status"
                       value="{{ form.business_status.data or '' }}"></td>

              <td><label for="business_item">종목</label></td>
              <td><input type="text" class="form-control" name="business_item" id="business_item"
                   value="{{ form.business_item.data or '' }}"></td>

              <td><label for="email">이메일</label></td>
              <td><input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.data or '' }}"></td>

              <td><label for="cellphone">핸드폰번호</label></td>
              <td><input type="text" class="form-control" name="cellphone" id="cellphone"
                   value="{{ form.cellphone.data or '' }}"></td>
          </tr>

          <tr>
              <td><label for="tel">전화번호</label></td>
              <td><input type="text" class="form-control" name="tel" id="tel"
                   value="{{ form.tel.data or '' }}"></td>

              <td><label for="fax">팩스번호</label></td>
              <td><input type="text" class="form-control" name="fax" id="fax"
                         value="{{ form.fax.data or '' }}"></td>
          </tr>
          <tr>
              <td><label for="bank_name">거래은행명</label></td>
              <td><input type="text" class="form-control" name="bank_name" id="bank_name"
                       value="{{ form.bank_name.data or '' }}"></td>

              <td><label for="bank_no">계좌번호</label></td>
              <td><input type="text" class="form-control" name="bank_no" id="bank_no"
                   value="{{ form.bank_no.data or '' }}"></td>

              <td><label for="bank_account">소유자명</label></td>
              <td><input type="text" class="form-control" name="bank_account" id="bank_account"
                   value="{{ form.bank_account.data or '' }}"></td>
          </tr>
          <tr>
              <td><label for="description">비고란</label></td>
              <td><input type="text" class="form-control" name="description" id="description"
                   value="{{ form.description.data or '' }}"></td>
          </tr>

        <tr>
             <td><button type="submit" class="btn btn-primary">가입하기</button></td>
        </tr>
        </table>
    </form>
</div>





{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Sign Up</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}

