{% extends "shared/admin_base.html" %}
{% block content %}

<span style="margin-left: 20px;" id="current_datetime"></span>

<form method="post">
    {{ form.csrf_token }}
    {% include "form_errors.html" %}

<div class="container-fluid">
     <table style="width:100%" class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr bgcolor="#ffddee">
            <th colspan="2" class="text-center"><h6><strong>업체 등록</strong></h6></th>
            <th class="text-center" ><label for="register_date">등록 일자</label></th>
            <td colspan="2">
                <input type="date" class="form-control" name="register_date" id="register_date"
                       placeholder="yyyy-mm-dd" style="width: 160px;" required
                                value="{{ form.register_date.data or '' }}">
            </td>
            <th class="text-center"><label for="company_class">회사 분류:</label></th>
            <td colspan="2" style="background-color: yellow;">
            <select class="form-control" name="company_class" id="company_class">
                    <option value="R">매출처</option>
                    <option value="P">매입처</option>
                </select>
            </td>
            <th colspan="1">&nbsp;</th>
            <th colspan="5" class="text-center"><h6><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;오늘 날짜 :
                {{ today|datetime('%Y-%m-%d') }} 시각 : {{ today|datetime('%H:%M:%S %p') }}
                        </strong></h6></th>
        </tr>

        <tr style="width:100%" bgcolor="#ddeeff">
            <th style="width:3%" class="text-center">NO</th>
            <th style="width:10%" class="text-center"><label for="firm">상호</label></th>
            <th style="width:10%" class="text-center"><label for="business_no">사업자 등록번호</label></th>
            <th style="width:5%" class="text-center"><label for="president">성명</label></th>
            <th style="width:5%" class="text-center"><label for="zip">우편번호</label></th>
            <th style="width:10%" class="text-center"><label for="address">사업장주소</label></th>
            <th style="width:5%" class="text-center"><label for="business_status">업태</label></th>
            <th style="width:5%" class="text-center"><label for="business_item">종목</label></th>
            <th style="width:12%" class="text-center"><label for="email">이메일</label></th>
            <th style="width:8%" class="text-center"><label for="cellphone">핸드폰번호</label></th>
            <th style="width:8%" class="text-center"><label for="tel">전화번호</label></th>
            <th style="width:8%" class="text-center"><label for="fax">팩스번호</label></th>
            <th style="width:6%" class="text-center"><label for="note">비고</label></th>
        </tr>
        </thead>

        <tr style="width:100%" bgcolor="#ffffdd">
            <td>{{ count }}1</td>
            <td><input type="text" class="form-control" name="firm" id="firm"
                   value="{{ form.firm.data or '' }}"></td>
            <td><input type="text" class="form-control" name="business_no" id="business_no"
                   value="{{ form.business_no.data or '' }}"></td>
            <td><input type="text" class="form-control" name="president" id="president"
                   value="{{ form.president.data or '' }}"></td>
            <td><input type="text" class="form-control" name="zip" id="zip"
                   value="{{ form.zip.data or '' }}"></td>
            <td><input type="text" class="form-control" name="address" id="address"
                   value="{{ form.address.data or '' }}"></td>
            <td><input type="text" class="form-control" name="business_status" id="business_status"
                       value="{{ form.business_status.data or '' }}"></td>
            <td><input type="text" class="form-control" name="business_item" id="business_item"
                   value="{{ form.business_item.data or '' }}"></td>
            <td><input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.data or '' }}"></td>
            <td><input type="text" class="form-control" name="cellphone" id="cellphone"
                   value="{{ form.cellphone.data or '' }}"></td>
            <td><input type="text" class="form-control" name="tel" id="tel"
                   value="{{ form.tel.data or '' }}"></td>
            <td><input type="text" class="form-control" name="fax" id="fax"
                   value="{{ form.fax.data or '' }}"></td>
            <td><input type="text" class="form-control" name="note" id="note"
                   value="{{ form.note.data or '' }}"></td>
        </tr>
        <tr>
            <td colspan="3">
                <button type="submit" class="btn btn-primary">등록하기</button>
            </td>
            <td colspan="8" align="center" style="vertical-align: bottom;">
                <h6><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;오늘 날짜 : {{ today|datetime('%Y-%m-%d') }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;업체 등록 현황</strong></h6>
            </td>
            <td colspan="2" align="center">&nbsp;</td>
        </tr>

       {% if companies %}
            {% for idx, company in enumerate(companies) %}
        <tr>
            <td align="center">{{ idx + 1 }}</td>
            <td>{{ company.firm }}</td>
            <td align="center">{{ company.business_no }}</td>
            <td align="center">{{ company.president }}
            <td align="center">{{ company.zip }}</td>
            <td>{{ company.address }}</td>
            <td>{{ company.business_status }}</td>
            <td>{{ company.business_item }}</td>
            <td>{{ company.email }}</td>
            <td align="center">{{ company.cellphone }}</td>
            <td align="center">{{ company.tel }}</td>
            <td align="center">{{ company.fax }}</td>
            <td>{{ company.note }}</td>
        <tr>
            {% endfor %}
        {% endif %}

    </table>
</div>

</form>

{% endblock %}



