<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
   <div class="container-fluid">

        <button class="navbar-toggler" type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">운송관리</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('transport.create') }}">운송 입력</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_period', view_type='transport') }}">운송 <span style="color: red;"> [수정/삭제] </span> </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_company', view_type='company') }}">거래처 운송현황</a></li>
                </ul>
             </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">경비관리</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('cost.create') }}">경비 입력</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cost.cost_period') }}">경비 <span style="color: red;"> [수정/삭제] </span> </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cost.cost_class_period') }}">분류별 경비현황</a></li>
                </ul>
             </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">업체관리</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('company.create') }}">업체 등록</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('company.company_period') }}">업체현황 <span style="color: red;"> [수정삭제] </span> </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('company.company_class_period') }}">업체분류 검색</a></li>
                </ul>
             </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">미수금관리</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_set_period') }}">전체 미수금입금</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_company', view_type='set') }}">회사별 미수금입금</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_company', view_type='company_set') }}">회사별 입금현황</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_period', view_type='transport_set') }}">기간별 입금현황</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_company', view_type='unpaid') }}">거래처 미수금현황</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('transport.trans_period', view_type='unpaid') }}">전체 미수금현황</a></li>
                </ul>
             </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">국세청 자료</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('balance.paper_period') }}">종이 세금계산서 제출 </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('balance.elect_period') }}">전자 세금계산서 제출</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('balance.tax_period') }}">경비 세금계산서 제출</a></li>
                </ul>
             </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">대차대조표</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('balance.balance_period') }}">매출/매입자료</a></li>
                    </ul>
             </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: #FF6600;">희망의 길</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('question._list') }}">트럭맨세상 </a></li>
                </ul>
             </li>
        <!--
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('question._list') }}" style="color: #FF6600;">희망의 길</a>
                <li><a class="dropdown-item" href="{{ url_for('question._list') }}">질문과답변</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('question._list') }}">자유게시판</a></li>
        -->
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">유용한 사이트</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://www.hometax.go.kr/websquare/websquare.html?w2xPath=/ui/pp/index_pp.xml" target="_blank">국세청</a></li>
                    <li><a class="dropdown-item" href="https://www.fordrivers.or.kr/main/main.do" target="_blank">화물복지 재단 </a></li>
                    <li><a class="dropdown-item" href="https://www.kotsa.or.kr" target="_blank">교통안전공단 </a></li>
                    <li><a class="dropdown-item" href="https://www.koroad.or.kr" target="_blank">한국도로교통공단 </a></li>
                    <li><a class="dropdown-item" href="https://www.ktdb.go.kr/www/selectBbsNttView.do?key=135&bbsNo=10&nttNo=439" target="_blank">국가교통DB</a></li>
                </ul>
             </li>

             {% if g.user %}
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">회원정보 관리</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ url_for('auth.member_modify') }}"><font color="blue">정보 수정</font></a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.member_cancel') }}"><font color="red">회원 탈퇴</font></a></li>
                </ul>
             </li>

             <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">[로그아웃]</a>
             </li>
             {% endif %}

           </ul>
       </div>
    </div>
</nav>