{% extends "base.html" %}
{% block content %}

<div class="container"> <br><br>

    <h4>Truckman 사용 방법</h4>
    <p><br>
    1. 운송 입력 방법 <br>
    &nbsp;&nbsp;1). 거래형태란 '정상거래'와 '부가가치세용'이 있습니다. <br>
    &nbsp;&nbsp;2). '부가가치세용' 이란 거래처에서 일정기간 동안 운송행위를 한 뒤 <br>
    &nbsp;&nbsp;3). 한꺼번에 세금계산서를 작성하여 거래처에 제출할 때 선택합니다. <br>
    <br>
    2. 운송료 미수금 입금 방법 <br>
     &nbsp;1). 거래조건이 거래처후불일 경우 <br>
     &nbsp;&nbsp;1)-1. 거래처(회사명)로 부터 일정기간(한달간)운송료를 일괄적으로 결제(입금) 받을 때에는 <br>
     &nbsp;&nbsp;&nbsp;&nbsp;미수금관리 -> 회사별 미수금입금에서 정리 합니다. <br>
     &nbsp;&nbsp;1)-2. 거래처(회사명)가 단일일 경우 결제(입금) 받을 때에는 <br>
     &nbsp;&nbsp;&nbsp;&nbsp;역시 여기에서도 미수금관리 -> 회사별 미수금입금에서 정리하는 방법을 권장 합니다. <br>
     &nbsp;&nbsp;&nbsp;&nbsp;이렇게 정리하면 여러 업체가 나타나는 것보다 훨씬 간명하고 편리합니다. <br>

     &nbsp;2). 송하주, 수하주 후불일 경우 결제(입금) 받을 때에는 <br>
     &nbsp;&nbsp;미수금관리 -> 전체 미수금입금에서 정리 합니다. <br>

    <br>
    3. 알선료 송금일자<br>
     &nbsp;1). 알선료 송금일자는 자동적으로 운송일자와 같은 일자로 입력됩니다. <br>
     &nbsp;2). 특별한 경우 거래처(주선업체)의 요청에 따라 수수료를 실제 송금한 일자로 입력할 경우 <br>
     &nbsp;3). 운송관리 -> 운송 수정/삭제 -> 수정을 선택한 뒤 운송수수료 입금일자를 수정하여 주시기 바랍니다. <br>

    <br>
    3. 알선료 송금일자<br>
     &nbsp;1). 알선료 송금일자는 자동적으로 운송일자와 같은 일자로 입력됩니다. <br>
     &nbsp;2). 특별한 경우 거래처(주선업체)의 요청에 따라 수수료를 실제 송금한 일자로 입력할 경우 <br>
     &nbsp;3). 운송관리 -> 운송 수정/삭제 -> 수정을 선택한 뒤 운송수수료 입금일자를 수정하여 주시기 바랍니다. <br>
    </p>

</div>

{% endblock %}

