{% extends "shared/admin_base.html" %}
{% block content %}

<style>
    .small-text {
        font-size: 0.875em; /* 글자 크기를 조절할 수 있습니다.font-size: 0.875em; */
    }
</style>

<br>
<div class="container">
    <h5 class="text-center">기간별 경비 현황</h5>
    <form method="post">
        {{ form.hidden_tag() }} <!-- CSRF 토큰 포함 -->
        {% include "form_errors.html" %}
        <div class="container-fluid">
            <table style="width:100%" class="table table-bordered table-striped">
                <tr bgcolor="#ffddee">
                    <td style="width:10%" class="text-center"><label for="start_date">시작 일자:</label></td>
                    <td style="width:15%" class="text-center">{{ form.start_date(class_="form-control") }}</td>
                    <td style="width:30%">&nbsp;</td>
                    <td style="width:10%" class="text-center"><label for="end_date">마지막 일자:</label></td>
                    <td style="width:15%" class="text-center">{{ form.end_date(class_="form-control") }}</td>
                </tr>
            </table>
        </div>
        <div><button type="submit" class="btn btn-primary">{{ form.submit() }}</button></div>
    </form>
</div>

{% endblock %}
