{% extends "base.html" %}
{% block content %}

<span style="margin-left: 20px;" id="current_datetime"></span>

<div class="container-fluid">
    <div class="scrollable-table-container">

        <h5 class="text-left" style="color: #0000FF;"> &nbsp; 회원정보 수정 </h5>
        <form method="post" action="{{ url_for('auth.member_modify', id=user.id) }}">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }} <!-- CSRF 토큰 -->
            {% include "form_errors.html" %}

        <table style="min-width: 1000px;" class="table table-bordered">
        <thead class="head-dark">

        <tr>
            <td style="width: 10%; text-align: left;">  <label for="register_date">등록 일자:</label></td>
            <td style="width: 30%; text-align: left;">
                <span>{{ user.register_date }}</span>
                <input type="hidden" name="register_date" value="{{ user.register_date }}">
                &nbsp;&nbsp;&nbsp;&nbsp;[&nbsp;등록 일자는 수정할 수 없습니다&nbsp;]
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="username">회원 아이디:</label></td>
            <td style="width: 30%; text-align: left;">
                <span>{{ user.username }}</span>
                <input type="hidden" name="username" value="{{ user.username }}">
                &nbsp;&nbsp;&nbsp;&nbsp;[&nbsp;회원 아이디는 수정할 수 없습니다&nbsp;]
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="password1">비밀번호:</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" id="password1" name="password1"
                           value="{{ user.password1 }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="password2">비밀번호 확인:</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" id="password2" name="password2"
                           value="{{ user.password2 }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="truck_name">트럭 명칭:</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" id="truck_name" name="truck_name"
                           value="{{ user.truck_name }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="truck_no">트럭 번호:</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" id="truck_no" name="truck_no"
                           value="{{ user.truck_no }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="truck_class">트럭 종류:</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" id="truck_class" name="truck_class"
                           value="{{ user.truck_class }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="truck_ton">트럭 톤수:</label></td>
            <td style="width: 30%; text-align: left;">
                <input type="number" class="form-control"
               name="truck_ton" id="truck_ton"  step="0.1"
                   value="{{ user.truck_ton }}">
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="business_no">사업자 등록번호</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" id="business_no" name="business_no"
                            value="{{ user.business_no }}" required>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="company">상호</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="company" id="company"
                           value="{{ user.company }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="member_name">회원 이름</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="member_name" id="member_name"
                            value="{{ user.member_name }}" required>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="zip">우편번호</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="zip" id="zip"
                            value="{{ user.zip }}">
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="address">사업장주소</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="address" id="address"
                            value="{{ user.address }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="business_status">업태</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="business_status" id="business_status"
                            value="{{ user.business_status }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="business_item">종목</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="business_item" id="business_item"
                            value="{{ user.business_item }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="email">이메일</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="email" id="email"
                            value="{{ user.email }}" required>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;">
                {{ form.cellphone.label }}
            </td>
            <td style="width: 30%; text-align: left;">
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ form.cellphone(class="form-control", style="flex-basis: 35%;") }}

                    <span style="flex-basis: 65%; margin-left: 10px;">[&nbsp;010-8888-7777 형식으로 입력&nbsp;]</span>
                </div>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="tel">{{ form.tel.label }}</td>
            <td style="width: 30%; text-align: left;">
                <div style="display: flex; align-items: center; width: 100%;">
                   {{ form.tel(class="form-control", style="flex-basis: 35%;") }}
                <span style="flex-basis: 65%; margin-left: 10px;">[&nbsp;051-333-5555 형식 입력&nbsp;]</span>
                </div>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="fax">{{ form.fax.label }}</td>
            <td style="width: 30%; text-align: left;">
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ form.fax(class="form-control", style="flex-basis: 35%;") }}
                    <span style="flex-basis: 65%; margin-left: 10px;">[&nbsp;051-555-6666 형식으로 입력&nbsp;]</span>
                </div>
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="bank_name">거래은행명</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="bank_name" id="bank_name"
                            value="{{ user.bank_name }}">
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="bank_no">계좌번호</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="bank_no" id="bank_no"
                            value="{{ user.bank_no }}">
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="bank_account">소유자명</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="bank_account" id="bank_account"
                            value="{{ user.bank_account }}">
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 10%; text-align: left;"><label for="description">비고</label></td>
            <td style="width: 30%; text-align: left;">
                    <input type="text" class="form-control" name="description" id="description"
                            value="{{ user.description }}">
            </td>
            <td style="width: 60%;">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <button type="submit" class="btn btn-primary">회원정보 수정</button>
            </td>
        </tr>
        </thead>
        </table>

    </form>

    </div>
</div>

{% endblock %}

