{% extends "base.html" %}
{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">회원 가입</h5>
    <form method="post">
        <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->

        {{ form.hidden_tag() }}
        {% include "form_errors.html" %}

    <div class="form-group">
        <label for="username">회원 아이디</label>
        <input type="text" class="form-control" name="username" id="username"
                    value="{{ form.username.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="password1">비밀번호</label>
        <input type="password" class="form-control" name="password1" id="password1"
                    value="{{ form.password1.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="password2">비밀번호 확인</label>
        <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="truck_name">트럭 명칭</label>
        <input type="text" class="form-control" name="truck_name" id="truck_name"
                   value="{{ form.truck_name.data or '' }}">
    </div>

    <div class="form-group">
        <label for="truck_no">트럭 번호</label>
        <input type="text" class="form-control" name="truck_no" id="truck_no"
                   value="{{ form.truck_no.data or '' }}" required>
    </div>
    <div class="form-group">
        <label for="truck_class">트럭 종류</label>
        <input type="text" class="form-control" name="truck_class" id="truck_class"
                   value="{{ form.truck_class.data or '' }}">
    </div>

    <div class="form-group">
        <label for="truck_ton">트럭 톤수</label>
        <input type="text" class="form-control" name="truck_ton" id="truck_ton"
                   value="{{ form.truck_ton.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="business_no">사업자 등록번호</label>
        <input type="text" class="form-control" name="business_no" id="business_no"
                    value="{{ form.business_no.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="company">상호</label>
        <input type="text" class="form-control" name="company" id="company"
                   value="{{ form.company.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="member_name">성명</label>
        <input type="text" class="form-control" name="member_name" id="member_name"
                   value="{{ form.member_name.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="zip">우편번호</label>
        <input type="text" class="form-control" name="zip" id="zip"
                   value="{{ form.zip.data or '' }}">
    </div>

    <div class="form-group">
        <label for="address">사업장주소</label>
        <input type="text" class="form-control" name="address" id="address"
                   value="{{ form.address.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="business_status">업태</label>
        <input type="text" class="form-control" name="business_status" id="business_status"
                       value="{{ form.business_status.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="business_item">종목</label>
        <input type="text" class="form-control" name="business_item" id="business_item"
                   value="{{ form.business_item.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="cellphone">핸드폰번호</label>
        <input type="text" class="form-control" name="cellphone" id="cellphone"
                   value="{{ form.cellphone.data or '' }}" required>
    </div>

    <div class="form-group">
        <label for="tel">전화번호</label>
        <input type="text" class="form-control" name="tel" id="tel"
                   value="{{ form.tel.data or '' }}">
    </div>

    <div class="form-group">
        <label for="fax">팩스번호</label>
        <input type="text" class="form-control" name="fax" id="fax"
                   value="{{ form.fax.data or '' }}">
    </div>

    <div class="form-group">
        <label for="bank_name">거래은행명</label>
        <input type="text" class="form-control" name="bank_name" id="bank_name"
                    value="{{ form.bank_name.data or '' }}">
    </div>

    <div class="form-group">
        <label for="bank_no">계좌번호</label>
        <input type="text" class="form-control" name="bank_no" id="bank_no"
                  value="{{ form.bank_no.data or '' }}">
    </div>

    <div class="form-group">
        <label for="bank_account">소유자명</label>
        <input type="text" class="form-control" name="bank_account" id="bank_account"
                   value="{{ form.bank_account.data or '' }}">
    </div>

    <div class="form-group">
        <label for="description">비고</label>
        <input type="text" class="form-control" name="description" id="description"
                   value="{{ form.description.data or '' }}">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </div>

    </form>

</div>

{% endblock %}


